body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}
.about-nav-bar {
  font-family: "Lato", sans-serif;
  width: 100%;
}

.about-nav-bar ul {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  list-style: none;
  font-size: 24px;
}
.about-nav-bar li:hover {
  text-decoration: underline;
  font-weight: bolder;
}
.about-container {
  display: flex;
  width: 33%;
  flex-direction: column;
  border: solid black 1px;
  padding: 2rem;
  margin: 2rem;
}
.about-container img {
  width: 100%;
}
.about-container h1 {
  font-weight: 100;
}
.about-container p {
  font-weight: bold;
}
.no-link {
  color: inherit; /* Keeps the original text color */
  text-decoration: none; /* Removes underline or other decorations */
}

@media (max-width: 600px) {
  .about-container {
    width: 80%;
    border: none;
  }
}
